<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="title">
        <div class="row">
          <div class="col">
            <p>Title</p>
            <p>details</p>
            <p id="date">date</p>
          </div>
          <br />
          <div class="col">
            <p>Title</p>
            <p>details</p>
            <p>date</p>
          </div>
          <br />
          <div class="col">
            <p>Title</p>
            <p>details</p>
            <p>date</p>
          </div>
        </div>
      </div>
      <div class="todolist">
        <div class="row">
          <div class="col col-xl-4">
            <h1>TODO LIST</h1>
          </div>
          <div class="col">title</div>
          <div class="col">thoi gian</div>
        </div>
      </div>
    </div>
  </body>
</html>
